/* GENERAL STYLE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

i, span {
    color: white;
}

i {
    font-size: 23px;
}

span { 
    font-size: 10px;
}

/* STYLE HEADER */

#head-container {
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: end;
    padding: 8px 8px;
}

#head-container i {
    text-align: center;
    font-size: 10px;
}

#head-container span {
    background-color: rgb(74, 74, 74);
    padding: 6px 4px;
    border-radius: 6px;
    text-align: center;
}

/* STYLE MAIN */

main {
    background-color: black;
    padding-top: 4.5%;
}

#main-container {
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5% 0;
    overflow-y: scroll;
}

/* STYLE CARD */

.user-card {
    margin: 6px 9px;
    width: calc(100% / 5 - 18px);
    height: 180px;
    background-image: url('https://picsum.photos/200');
    background-size: cover;
    background-position: center;
    position: relative;
}

.microphone {
    color: white;
    background-color: rgba(74, 74, 74, 0.6);
    position: absolute;
    bottom: 5%;
    left: 0; 
    padding: 1%;

}

/* STYLE FOOTER */

#footer-container {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.command {
    padding: 0.5% 0;
}

.c-left {
    width: 15%;

}

.c-center {
    width: 67%;

}

.c-right {
    width: 18%;
    background-color: rgba(74, 74, 74, 0.6);
    align-self: stretch;
    position: relative;
}
/* footer visual style */
.icon {
    padding: 8px;
    text-align: center;
    display: flex;
    align-items: center;
}

.icon i {
    display: block;
    font-size: 23px;
}

.icon span {
    font-size: 10px;
}

.angle {
    padding: 0 3%;
}

#end span {
    background-color: rgba(34, 34, 34, 0.5);
    color: red;
    font-weight: 700;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    /* centrare */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* NAV STYLE */
nav {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3%;
}

.navigator i {
    display: block;
}

/* HOVER e ACTIVE STYLE */

.microphone:active i {
    color: red;
}

.navigator:hover i {
    color: red;
}